<div class = "welcome"><h1>Welcome to Bike Berlin</h1>
<h2>Your source for used bikes in Berlin</h2></div>
<div class = "imgbike">
<%= image_tag("whitebikes.jpg", :class => "img-responsive bike1") %>
</div>
