<header class="headerintro" data-stellar-background-ratio="0.5">
        <div class="headerbody">
            <div class="container">
                <div class="row" id="header-text">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="name">"BINJ"</h1>
                        <h4 class="intro-text">YOUR HOME FOR "BROKEN-IN" DRY DENIM</h4><br>
                        <a href="/products" class="btn btn-default intro-button">LET'S SHOP</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
