// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Products Page*/


.list h4 {
    float: right;
}

.headline {
    text-align: center;
    padding-bottom: 30px;
}

.description h1,h2,p {
    text-align: center;
}

.jeans {
    height: 300px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin-right: -14px;
    margin-left: -14px;
}

.product-image-wrapper {
    border: 1px solid #000;
    margin-bottom: 30px;
}

.product-image-wrapper:hover {
    border-right: 2px solid orange;
    border-left: 2px solid orange;
}

.prodline,.edit {
    padding-bottom: 50px;
}

.prodline h2 {
    color: orange;
    padding-bottom: 10px;
}

/*New Product Form */

.form-group {text-align:center;}

.description {height:100px; padding-top:5px;}

.form-horizontal .control-label {padding-top:17px; color:orange; text-align:left;}

.form-actions {height:25px;}

.mainform textarea, .mainform input {
    
    color: orange;
    background-color: #f2f2f2;
    border: 0;
    box-shadow: none;
    padding: 15px;
    text-align:center;
}

#submit {background-color:darkgrey; text-transform: uppercase; color:orange; margin-top: 20px;}


.newprod {text-align: center;}

.mainform {padding-bottom: 250px;}

/*Product Show*/

.back {float:left; padding-top:20px;}

.back a:hover {text-decoration: none; color:black; background-color: white}

.product-name {border-bottom: 1px solid; height: 2em;}

.line-break {border-bottom: 1px solid; height: 2em;}

.show {padding-top: 40px; padding-bottom: 40px}

.product-reviews {border: 1px solid; padding-top:20px; padding-bottom: 20px; }

.rated, .rating, {text-align: center;}

.rating-pic { display: block;
    margin-left: auto;
    margin-right: auto}

.show-price, .comment-title {text-align: center;}

/*Pagenation*/

.pagi {text-align: center}

.pagination { 

    display: inline-block;
    margin: 0 auto;
    background-color: white;
    color: black;
    text-align: center;
}

.pagination a:hover { text-decoration: none; background-color: transparent; color:black; text-align: center;}

.pagination a:visited { text-decoration: none; background-color: transparent; color:black; text-align: center;}
