html {
    position: relative;
    min-height: 100%;
}


body {

	margin: 0 0 100px; /* bottom = footer height */
	font-family: 'Montserrat', sans-serif; }

footer { 

	left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black; 
	color:white;
	text-align: center;

}

footer h6 { 
	padding-top: 5px;
	padding-bottom: 5px;
	color:white;
	text-align: center;

}

.si { padding: 20px 5px 0 0 ;}

#copy { padding-top: 30px; }

.fl {
	padding-top: 20px;
	text-align:center;

}

.fl a {
	color: white;
}

.fl a:hover {
	text-decoration: none;
	color: white;
}

.headerintro { 
	display: table;
	background-color:black;
    background: url(/assets/jeans1.jpg) no-repeat center center ;
  	width: 100%;
    height: 80vh;
    /*margin-top:-20px;*/
    color: white;
    background-color: #000;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.intro-button {

	text-shadow:none;
	color:black;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;}

.headerintro .headerbody {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 2px #000;
}

.name {
	text-align: center;
    font-size: 5.5em;
}

.intro-text {
	text-align: center;
    font-size: 1.25em;
}



p {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white; 
	color:black;
	text-align: center; }

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
    margin-bottom:0px;
}


