/*generic css*/

html {
    position: relative;
    min-height: 100%;
}


body {

    width: 100%;
    height: 100%;
    font-family: Montserrat,sans-serif;
    -webkit-font-smoothing: antialiased;
    padding:0;
	margin: 0 0 100px 0; /* bottom = footer height */
	font-family: 'Montserrat', sans-serif; }

/*footer css*/  

#footer   {background-color: #F59B00;}

#footer { 

	left: 0;
    bottom: 0;
    width: 100%;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F59B00; 
	color:white;
	text-align: center;

}

#footer h6 { 
	padding-top: 5px;
	padding-bottom: 5px;
	color:white;
	text-align: center;

}

.si { padding: 20px 5px 0 0 ;}

#copy { padding-top: 30px; }

.fl {
	padding-top: 20px;
	text-align:center;

}

.fl a {
	color: white;
}

.fl a:hover {
	text-decoration: none;
	color: white;
}

@media only screen and (max-device-width: 480px) {

.social-icons { padding-bottom: 10px; }

.navbar-collapse {max-height: 568px; background-color: black;}

    }



/*header css*/  

.headerintro {

	display: table;
    background: url(/assets/muso.jpg) no-repeat center bottom ;
  	width: 100%;
    height: 90vh;
    /*margin-top:-20px;*/
    color: white;
    background-color: #000;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

.btn-signup  {

	text-shadow:none;
	background-color: black;
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    border: none;
}

a.btn.btn-signup {

    background-color: black; 
    color:orange;  
    margin-top: 50px;
}

#headertext a {

	color:white;
}

.headerintro .headerbody {

    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 2px #000;
}

.name {
	text-align: center;
    font-size: 5.5em;
}

.intro-text {
	text-align: center;
    font-size: 1.25em;
}



.intro-text p {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white; 
	color:black;
	text-align: center; }


/*Nav css*/

.nav>li>a {
    
    position: relative;
    display: block;
   /* padding: 15px 15px;*/
    color:white;
     padding-top: 15px; 
}

.nav>li>a:hover {background-color: transparent; color:orange;}

.navbar-text {background-color: transparent; margin:0; padding-right: 10px;}

.btn-search:hover {background-color: orange; color:white;}

.btn-search {max-height: 30px}

.navbar-default .navbar-text {color:orange; padding-top: 15px;}

.navbar-custom {

    text-transform: uppercase;
    height:50px;
    margin-bottom: 0;
    background-color: black;
    &.transparent-nav {
      background-color: transparent;
    }
} 

.navbar-default .navbar-nav>li>a:hover { color: orange;} 
.navbar-default .navbar-nav>li>a { color: white;} 

.navbar-custom .navbar-brand, .linnav { color:white; display:inline-block;}

.navbar-custom .navbar-brand:hover 
{
    background-color: transparent;
    color: orange;
}

.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a
{background-color:transparent; color:orange;}


/*@media screen and (max-device-width: 375px) and (max-device-height: 667px) { 

#submenu { 

  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;}


}*/

/*Landing Page css*/


.caro {padding-top: 20px; padding-bottom: 40px;}

.carousel-caption {font-size: 30px;}

.caro-button { display:block; margin: 0 auto; width: 150px;}

.carousel-indicators {display:none;}

.carousel-inner .item {
    width: 100%; /*slider width*/
    max-height: 500px; /*slider height*/
}

.carousel .item img {
	margin: 0 auto;
    width: 40%; /*img width*/
    max-height: 500px;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {color:black;}

.carousel-control.right, .carousel-control.left, .carousel-control {
  background-image:none;
}

.carousel-control:hover { color:white; background-color: white; background-image: none;}

.carousel-fade .carousel-inner .item {
opacity: 0;
transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
left: 0;
opacity: 0;
z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
opacity: 1;
}
.carousel-fade .carousel-control {
z-index: 2; }

/*Contact Page css*/

.form-group {text-align:center; padding-top:20px;}


.cform textarea, .cform input {
    
    color: orange;
    background-color: #f2f2f2;
    border: 0;
    box-shadow: none;
    text-align:center;
}

#submitcontact {background-color:darkgrey; text-transform: uppercase; color:orange;height:25px;}

.contactform {margin-top: 50px; margin-bottom: 100px;}

.message textarea {min-height: 200px}

.lin {max-height: 20px;}

/*about section*/

.aboutintro  {

    display: table;
    background: url(/assets/rawlee.jpg) no-repeat center center ;
    width: 100%;
    height: 40vh;
    /*margin-top:-20px;*/
    color: white;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.aboutbody {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 2px 2px 2px #000;}

#about1 {padding-top: 20px; padding-bottom: 50px;}

.about-text-p{padding-top: 100px;}

.about-sign-up {text-align: center; padding-top: 120px;}

.btn-about {

    background-color: black;
    border: none;}   



a.btn.btn-about {

    background-color: black; 
    color:orange;  
    margin-top: 50px; }

.search {background-color: orange; padding-top: 10px; padding-bottom: 10px;}  

.search-form {text-align: center;}

.form-search { width:300px;}

.search-btn {background-color: black;}

.glyphicon-search {color:orange;}

