
<div class= "container edit">
<div class "row">
<div class = "col-md-4 col-md-offset-4">	
<h1>Editing Product</h1>
</div>
</div>
<div class "row">
    <div class = "col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 form">
<%= render 'shared/form' %>
<%= link_to 'Show', @product, :class => 'btn btn-default' %> 
<%= link_to 'Back', products_path, :class => 'btn btn-default' %>
</div>
</div>
</div>



